<div class="row">
<br>
<br>
<br>
        <div class="col-md-4">
                <div class="well well-sm" style="min-height:250px;">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#">
                            <img class="media-object" src="file.png" height="80" width="80">
                        </a>
                        <br>
                        <div class="media-body">
                            <h4 class="media-heading">name</h4>
                            <p style="margin-top:5px;">description</p>
                            <hr>
                            <i><p style="text-align: center;">Uploaded Files:</p></i>
                            <p style="text-align:center;">
                                <%= link_to '#', class: "btn btn-xs btn-info", style: "margin-top:5px;" do %>
                                    <span class="glyphicon glyphicon-file"></span> Download
                                <% end %>
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>

  </div>